# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual Environment
venv/
env/
.venv/
.env

# IDE
.vscode/
.idea/
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Uvicorn / FastAPI logs
*.log

# Dataset besar (opsional - hapus baris ini jika mau include dataset ke Git)
# apify_dataset.csv
